<a href="https://colab.research.google.com/github/tushar821999/Pandas_Library/blob/master/Amazon_Forest_Fire_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Dataset*** used ['**Amazon**.csv'](https://storage.googleapis.com/kaggle-data-sets/316056/639173/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1580045587&Signature=pXk7mhIoHHvwkqo4OjOjuE7kiSXXDGrAulzIHcmHOsO7w8YdcpSl6MK3dl8zwmzEC%2FV%2BC4MwSUyv9obP0Pd0KqHEH9SO3LPhAdj9B8g4aF1XmgyqIdF4Inj7izD49cYeaAHIrZ%2FIxcpl7Pz3MzxKPvq8DjxTPHYGsXO4ZvIQxhbhZ8X13u3PFU0psdX1Pi84jd8BPz4inXF%2BIooBzRbDVSZKNfn9cngWr0mfgJ%2BVJFPW1HOO2X4RuqUAHIJOdtYirKVVcP%2BBChWCbNl1PRx7o6kZXu1Wf0G%2FGpkczj%2FSuq8OQjlGRw2BCEo0vxmwaGcb4u2WOgsd9k457BRyV2in1w%3D%3D&response-content-disposition=attachment%3B+filename%3Dforest-fires-in-brazil.zip)

***ABOUT THE DATA*** :

1. **Year** is the year when the forest fire happend;

2. **State** is the Brazillian state

3. **Month** is the month when the forest fire happend

4. **Number** is the number of forest fires reported

5. **Date** is the date when the forest fire was reported

In [5]:
import pandas as pd
df = pd.read_csv('/amazon.csv')
print(df)

      year      state     month  number        date
0     1998       Acre   Janeiro     0.0  1998-01-01
1     1999       Acre   Janeiro     0.0  1999-01-01
2     2000       Acre   Janeiro     0.0  2000-01-01
3     2001       Acre   Janeiro     0.0  2001-01-01
4     2002       Acre   Janeiro     0.0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

[6454 rows x 5 columns]

***PROBLEMS WITH THE DATASET***
1. Numbers are in decimal. 2.588 doesn't make sense. That's because the decimal is how thousands are formatted. So, 2.588 means 2588 forest fires.
2. Month column is in Portuguese Language
3. When i imported the file for the first time i got an error : "utf-8 codec can't decode byte in position : invalid continuation byte". So, You can simple download the error free dataset from [here](https://drive.google.com/open?id=1YeK62eIi_nrYZYeZAthGhMibClVhlgWYmdOWqU7RNqM).

***INSTALL THE GOOGLETRANS LIBRARY***

In [10]:
# googletrans is not already installed 
# install googletrans by using pip
pip install googletrans

Requirement already satisfied: googletrans in /usr/local/lib/python3.6/dist-packages (2.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from googletrans) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->googletrans) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->googletrans) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->googletrans) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->googletrans) (2.8)

***IMPORT THE REQUIRED LIBRARIES***

In [0]:
# pandas for data analysis
import pandas as pd
# googletrans for translate portuguese in english
import googletrans
# matplotlib for plotting the bar graph
import matplotlib.pyplot as plt

***NOW READ THE DATA***

First problem of decimal number can be solved by using the thousands parameter of read_csv function.

In [21]:
# read data and solving the first problem
data = pd.read_csv('/amazon.csv',thousands='.')
# print the no of rows and columns (rows*columns)
print("") #for NL
print(data.shape)
# print the first 5 records of dataset
print("") #for NL
print(data.head(5))
# print the description of the dataset
print("") #for NL
print(data.describe(include='all'))
# check for any missing values per column
print("") #for NL
print(data.isna().sum())

(6454, 5)

   year state    month  number        date
0  1998  Acre  Janeiro       0  1998-01-01
1  1999  Acre  Janeiro       0  1999-01-01
2  2000  Acre  Janeiro       0  2000-01-01
3  2001  Acre  Janeiro       0  2001-01-01
4  2002  Acre  Janeiro       0  2002-01-01

               year state    month        number        date
count   6454.000000  6454     6454   6454.000000        6454
unique          NaN    23       12           NaN          20
top             NaN   Rio  Janeiro           NaN  2001-01-01
freq            NaN   717      541           NaN         324
mean    2007.461729   NaN      NaN    522.696312         NaN
std        5.746654   NaN      NaN   1554.846486         NaN
min     1998.000000   NaN      NaN      0.000000         NaN
25%     2002.000000   NaN      NaN      9.000000         NaN
50%     2007.000000   NaN      NaN     54.000000         NaN
75%     2012.000000   NaN      NaN    269.000000         NaN
max     2017.000000   NaN      NaN  25963.000000         NaN

year      0
state     0
month     0
number    0
date      0
dtype: int64