<a href="https://colab.research.google.com/github/tushar821999/Pandas_Library/blob/master/DataFrame_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DataFrame : It is a table. It has rows and columns. Each column in a DataFrame is a series object, rows consist of element inside Series. It can be constructed using built-in Python dicts.

In [0]:
# import pandas library as pd
import pandas as pd

Let's create a simple DataFrame

In [3]:
# Create DataFrame 
demo_df = pd.DataFrame({
    'country':['Russia','India','Japan','China'],
    'population':[17.04,143.5,9.5,203.52],
    'square' : [2724902,17155191,12653456,78956542]
})
# print the basic DataFrame
print(demo_df)

  country  population    square
0  Russia       17.04   2724902
1   India      143.50  17155191
2   Japan        9.50  12653456
3   China      203.52  78956542

In order to make sure that each column is a Series object Let's do this

In [4]:
print(demo_df['country'])
print(demo_df['population'])
print(demo_df['square'])

0    Russia
1     India
2     Japan
3     China
Name: country, dtype: object
0     17.04
1    143.50
2      9.50
3    203.52
Name: population, dtype: float64
0     2724902
1    17155191
2    12653456
3    78956542
Name: square, dtype: int64

DataFrame object has 2 indexes: column index and row index. If you do not provide row index explicitly, pandas will create RangeIndex from 0 to N-1, where N is a number of rows inside DataFrame.

In [5]:
# print the column index
print(demo_df.columns)
# print the row index
print(demo_df.index)

Index(['country', 'population', 'square'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

There are numerous ways to provide row index explicitly, for example you can provide index when creating a DataFrame or do it "on the fly" during runtime.

In [10]:
# Assign index when creating a DataFrame
demo_df2 = pd.DataFrame({
    'country' : ['Kazakhstan','Russia','Belarus','Ukarine'],
    'currency' : ['KZT','RUB','BYN','UAH'],
    'population' : [17.04,143.5,9.5,45.5]
}, index = ['KZ','RU','BY','UA'])
print(demo_df2)

# Assign index on the fly
demo_df2.index = ['KZ','RU','BY','UA']
demo_df2.index.name = 'Country Code'
print(demo_df2)

       country currency  population
KZ  Kazakhstan      KZT       17.04
RU      Russia      RUB      143.50
BY     Belarus      BYN        9.50
UA     Ukarine      UAH       45.50
                 country currency  population
Country Code
KZ            Kazakhstan      KZT       17.04
RU                Russia      RUB      143.50
BY               Belarus      BYN        9.50
UA               Ukarine      UAH       45.50