<a href="https://colab.research.google.com/github/tushar821999/Pandas_Library/blob/master/Series_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas : It is the most popular library for data analysis in Python programming language. It has eloquent syntax and rich functionality.

DataFrame and Series : These are two main data structures which is used by pandas library

Series : It is an object which is similar to Python list data structure but differs from it because it has associated label with each element or so-called index.

In [4]:
# import pandas library as pd 
import pandas as pd

demo_series = pd.Series([2,0,3,1,3,1])
print(demo_series)

0    2
1    0
2    3
3    1
4    3
5    1
dtype: int64

Take a look at the output and you will see that index is leftward and values are to the right. If index is not defined explicitly, then pandas creates RangeIndex starting from 0 to N-1, Where N is the total number of element. Moreover, each sereis has data type(dtype), in our case dtype is int64.

In [3]:
# check starting and ending index of the series
print(demo_series.index)

# check values of the element and datatype(dtype) of the series
print(demo_series.values)

RangeIndex(start=0, stop=6, step=1)
[2 0 3 1 3 1]

In [8]:
# Retrive element by their index number
print(demo_series[2]) # output: 3
print(demo_series[0]) # output : 2
print(demo_series[5]) # output : 5

3
2
1

Retrive element by their index number doesn't works with negative index

In [5]:
# You can also provide index (labels) explicitly
demo_series2 = pd.Series([9,9,1,7,0,],index=['a','b','c','d','e'])
print(demo_series2)

a    9
b    9
c    1
d    7
e    0
dtype: int64

Now we will get element value by their custom index

In [7]:
# Acess Element by using custom indexes
print(demo_series2['b'])
print(demo_series2['d'])

9
7

In [8]:
# Retrive several elements by their indexes
print(demo_series2[['a','d','e']])

a    9
d    7
e    0
dtype: int64

We can also make a group assignments

In [11]:
# Group Assignment
demo_series2[['a','b','c']] = 9
print(demo_series2)

a    9
b    9
c    9
d    7
e    0
dtype: int64

Have a look on filtering and math operation

In [15]:
# filtering operation in Series
print(demo_series2[demo_series2 > 5])

# math operation in Series
print(demo_series2[demo_series2>5]*2)

a    9
b    9
c    9
d    7
dtype: int64
a    18
b    18
c    18
d    14
dtype: int64

Series is very similar to dictionary, where key is an index and value is an element, we can do this

In [17]:
# creating Series using key value pair like as dictionary in python
demo_series3 = pd.Series({'a':5,'b':6,'c':7,'d':8})
print(demo_series3)

a    5
b    6
c    7
d    8
dtype: int64

Check index is exists in Sereis or not by using 'in' operator

In [19]:
# use of 'in' operator to check index is exists in the series or not
print('b' in demo_series3)

True

Series object and its index have name attributes, so you can label them

In [23]:
# name the whole series
demo_series3.name = "numbers"
# name the index column of the series
demo_series3.index.name = "letters"

print(demo_series3)

letters
a    5
b    6
c    7
d    8
Name: numbers, dtype: int64

Index can be changed on fly . But bear in mind that the length of the list should be equal to the number of elements inside Series and also labels have to be unique.

In [28]:
# we can change the index name at any time
demo_series3.index=['A','B','C','D']
print(demo_series3)

A    5
B    6
C    7
D    8
Name: numbers, dtype: int64